body {
  background-image: url(../marble-background-png-1.png);
  width: 100%;
}

.masthead {
  margin-top: 10px;
  padding: 1.5 rem 1 rem;
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  max-width: 960px;
}

.row  {
  float: left;
  margin: 30px;

}


footer {
  clear: both;
  background: #343a40;
  color: white;
  position: fixed;
  bottom: 0;
  width:  100%;
  margin: bottom, 0px;
  padding: 21px;
  text-align: center;
}

input {
  background: #343a40;
   color: white;
}